@import url("style.css");

.line {
  width: 315px;
  margin-left: auto;
  margin-right: auto;
}

.search-container {
  text-align: center;
}

.resultsContainer {
  text-align: center;
}
/* Change in color so that text is easier to see */
.inquisition,
.restaurant-name,
.restaurant-address,
.restaurant-cuisine,
.restaurant-price,
.cityForm {
  color: black;
}
::placeholder{
  color: darkgray;
}
main {
  background-image: url("../images/IMG_0029.jpeg");
  /* height: 2000px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.apiContent {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.content {
  padding: 10px;
  width: 50%;
  text-align: center;
  background-color: #d8d3d0;
  border: 2px solid black;
  border-radius: 40px;
  box-shadow: 0 0 100px;
}

h4 {
  text-align: center;
  font-weight: 500;
}

.restaurantName {
  font-size: larger;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.img-size {
  width: 300px;
  height: 225px;
  border-radius: 20px;
}

.webLink {
  color: black;
}

.cuisine {
  font-weight: 600;
}

.address {
  font-weight: 600;
}

.price {
  font-weight: 600;
}

.callBtn {
  background-color: rgb(51, 153, 139);
  border-radius: 20px;
  padding: 5px;
  width: 100px;
}

.webBtn {
  background-color: rgb(51, 153, 139);
  border-radius: 20px;
  padding: 5.5px;
  width: 100px;
}

.random-btn {
  background-color: #73b294;
  border-radius: 30px;
  box-shadow: 0 0 15px black;
  color: black;
  padding: 20px;
}

#randomBtn-text {
  color: black;
}

.food-img {
  width: 300px;
  height: 225px;
  border-radius: 20px;
}

#cityName {
  color: black;
  font-size: larger;
}

.cityForm {
  text-align: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 30px;
}
.lds-roller div {
  animation: lds-roller 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

