@import url("style.css");

.line {
  width: 315px;
  margin-left: auto;
  margin-right: auto;
}

.search-container {
  text-align: center;
}

.resultsContainer {
  text-align: center;
}
/* Change in color so that text is easier to see */
.inquisition,
.restaurant-name,
.restaurant-address,
.restaurant-cuisine,
.restaurant-price,
.cityForm {
  color: black;
}

main {
  background-image: url("../images/IMG_0029.jpeg");
  /* height: 2000px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.apiContent{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  
}

.content {
  padding: 10px;
  width: 50%;
  text-align: center;
  background-color: #d8d3d0;
  border: 2px solid black;
  border-radius: 40px;
  box-shadow: 0 0 100px;
}

h4 {
  text-align: center;
  font-weight: 500;
}

.restaurantName {
  font-size: larger;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.img-size {
  width: 300px;
  height: 225px;
  border-radius: 20px;
}

.webLink {
  color: black;
}

.cuisine {
  font-weight: 600;
}

.address {
  font-weight: 600;
}

.price {
  font-weight: 600;
}

.callBtn {
  background-color: rgb(51, 153, 139);
  border-radius: 20px;
  padding: 5px;
  width: 100px;
}

.webBtn {
  background-color: rgb(51, 153, 139);
  border-radius: 20px;
  padding: 5.5px;
  width: 100px;
}

.random-btn {
  background-color: #73b294;
  border-radius: 30px;
  box-shadow: 0 0 15px black;
  color: black;
  padding: 20px;
}

#randomBtn-text {
  color: black;
}

.food-img {
  width: 300px;
  height: 225px;
  border-radius: 20px;
}

#cityName {
  color: black;
  font-size: larger;
}

.cityForm {
  text-align: center;
}

.load {
  text-align: center;
  font-size: large;
  font-weight: 600;
  color: aliceblue;
}