@import url("style.css");

.line {
  width: 315px;
  margin-left: auto;
  margin-right: auto;
}

.search-container {
  text-align: center;
}

.results-container {
  text-align: center;
}
/* Change in color so that text is easier to see */
.inquisition,
.restaurant-name,
.restaurant-address,
.restaurant-cuisine,
.restaurant-price {
  color: #c5d7d9;
}

main {
  background-image: url("../images/IMG_0029.jpeg");
  /* height: 2000px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h4 {
  text-align: center;
  font-weight: 500;
}

.restaurant-name {
  font-size: larger;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.img-size {
  width: 300px;
  height: 225px;
  border-radius: 20px;
}

.webLink {
  color: black;
}

.restaurant-cuisine {
  font-weight: 600;
}

.restaurant-address {
  font-weight: 600;
}

.restaurant-price {
  font-weight: 600;
}

.call-btn {
  background-color: rgb(51, 153, 139);
  border-radius: 20px;
  padding: 5px;
  width: 100px;
}

.web-btn {
  background-color: rgb(51, 153, 139);
  border-radius: 20px;
  padding: 5.5px;
  width: 100px;
}

.random-btn {
  background-color: #73b294;
  border-radius: 30px;
  box-shadow: 0 0 15px black;
  color: black;
  padding: 20px;
}

#randomBtn-text {
  color: black;
}

.food-img {
  width: 300px;
  height: 225px;
  border-radius: 20px;
}

#cityName {
  color: black;
  font-size: larger;
}

.cityForm {
  text-align: center;
}