@import url("style.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body-container {
  display: grid;
  justify-content: center;
  padding: 50px;
  margin: auto;
}
main {
  background-image: url("../images/IMG_0028.jpeg");
  height: 2000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainHeader,
.secondHeader{
  color: #c5d7d9;
}

.generateMovie,
.poster {
  display: flex;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 0 25px black;
  margin: 20px;
  background-color: #7dbbb9;
}
.generateMovie {
  padding: 20px;
}
.genButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.movieInfo {
  display: flex;
  max-width: 500px;
  align-items: center;
  border-radius: 50px;
  padding: 20px;
  /* x-offset: 0, y-offset: 0, blur: 10px, spread: 2px*/
  box-shadow: 0 0 10px 4px;
  background-color: #d8d3d0;
}

.title {
  border-radius: 80px;
  box-shadow: 0 0 40px black;
  background-color: #7dbbb9;
  padding: 10px;
}
.info {
  font-weight: bolder;
}
.genre-span {
  padding: 0.6em;
}
