/* *,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Gotham Rounded", sans-serif;
} */
/* .body-container,
.container,
.row {
  border: 5px solid black;
} */

/* .row1,
.row2,
.row3 {
  position: relative;
  height: 900px;
  margin: 0;
} */

.card-opacity {
  position: absolute;
  top: 0;
  right: 100;
  /* z-index: 100; */
  opacity: 1;
}
.row1 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.row1::before {
  background-image: url("https://images.pexels.com/photos/65128/pexels-photo-65128.jpeg?cs=srgb&dl=pexels-piectro-jeng-65128.jpg&fm=jpg");
  background-size: cover;
  background-color: rgba(105, 164, 162, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity: 0.5;
}

.row2 {
  background-image: url("https://images.pexels.com/photos/3756498/pexels-photo-3756498.jpeg?cs=srgb&dl=pexels-alexy-almond-3756498.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.7;
}
.row3 {
  background-image: url("https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?cs=srgb&dl=pexels-eberhard-grossgasteiger-443446.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.7;
}

/* Styling for the body */
body {
  background-color: #7dbbb9;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* For the sticky footer */
main {
  flex: 1 0 auto;
}

/* Styling for the navbar container */
#nav-container {
  background-color: #2b4a4a;
}

/* Animation for the wheel */
.rotate {
  animation: rotation 20s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Header */

.active,
.web {
  background-color: #2b4a4a;
  /* height: 100px; */
  transition: all 1.5s;
}

/* Situating the navbar */
.navbar-toggle.navbar-left {
  float: left;
  margin-left: 25px;
}
.navbar-toggle.navbar-right {
  float: right;
  margin-left: 10px;
}

/* Size and position for nav buttons */
.rightnavbuttons {
  height: 10px;
  width: 10px;
  float: right;
}
/* Styling for the header container */
#header {
  background-color: #69a4a2;
  text-align: center;
  border-radius: 50px;
  padding: 25px;
  box-shadow: 0 0 10px 4px;
  margin-top: 35px;
  margin-bottom: 25px;
}

/* For spacing around the header title text */
.header-text-title {
  margin: 0.25rem 1rem;
}

/* For spacing around the header sub-title text */
.header-text {
  margin: 0.5rem 1rem;
}

/* Styling for the "neo" in spontaneous */
#neo {
  color: #dae4e5;
}

/* Styling for the cards */
.card {
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 10px 4px;
}

.card-action {
  text-align: center;
}

/* Creates a sticky footer */
.footer {
  width: 100%;
  background-color: #2b4a4a;
  color: white;
  text-align: center;
  font-family: "Dancing Script", cursive;
  padding: 1.5rem 0rem;
}
