/* .body-container,
.container,
.row {
  border: 5px solid black;
} */
.card-odd {
  position: absolute;
  text-align: center;
  height: 300px;
  width: 40%;
  top: 30%;
  left: 59.5%;
  background-color: #c5d7d9;
}
.card-even {
  /* display: flex; */
  position: absolute;
  text-align: center;
  height: 300px;
  width: 40%;
  top: 30%;
  background-color: #c5d7d9;
}

.row1,
.row2,
.row3 {
  display: flex;
  /* position: relative; */
  height: 900px;
  margin: 0;
}
.row1 {
  background-image: url("/views/images/IMG_0026.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.row2 {
  background-image: url("/views/images/IMG_0025.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.row3 {
  background-image: url("/views/images/IMG_0024.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Styling for the body */
body {
  background-color: #7dbbb9;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* For the sticky footer */
main {
  flex: 1 0 auto;
  flex-wrap: nowrap;
}

/* Styling for the navbar container */
#nav-container {
  background-color: #2b4a4a;
}

/* Animation for the wheel */
.rotate {
  animation: rotation 20s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Header */

.active,
.web {
  background-color: #2b4a4a;
  transition: all 1.5s;
}

/* Situating the navbar */
.navbar-toggle.navbar-left {
  float: left;
  margin-left: 25px;
}
.navbar-toggle.navbar-right {
  float: right;
  margin-left: 10px;
}

/* Size and position for nav buttons */
.rightnavbuttons {
  height: 10px;
  width: 10px;
  float: right;
}
/* Styling for the header container */
.header {
  height: 900px;
  background-image: url("/views/images/IMG_0027.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-content {
  background-color: #7dbbb9;
  text-align: center;
  border-radius: 50px;
  padding: 25px;
  box-shadow: 0 0 10px 4px;
  position: absolute;
  top: 25%;
  left: 40%;
}

/* For spacing around the header title text */
.header-text-title {
  margin: 0.25rem 1rem;
}

/* For spacing around the header sub-title text */
.header-text {
  margin: 0.5rem 1rem;
}

/* Styling for the "neo" in spontaneous */
#neo {
  color: #dae4e5;
}

/* Styling for the cards */
.card {
  border-radius: 10px;
  box-shadow: 0 0 10px 4px;
}
em {
  font-weight: 900;
}


.card-link-header {
  height: 100%;
  padding-top: 45px;
  margin-top: 0;
  color: black;
}

.card-link1,
.card-link2,
.card-link3 {
  background-color: #d8d3d0;
  width: 100%;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 10px 10px 0;
}
.card-link1 {
  height: 48%;
}
.card-link2 {
  height: 48.5%;
}
.card-link3 {
  height: 49.5%;
}
.card-link-header:hover {
  color: #7dbbb9;
}
/* Creates a sticky footer */
.footer {
  width: 100%;
  background-color: #2b4a4a;
  color: white;
  text-align: center;
  font-family: "Dancing Script", cursive;
  padding: 1.5rem 0rem;
}

@media only screen and (max-width: 768px) and (min-width: 312px) {
  .card-link-header {
    height: 100%;
    padding-top: 20px;
    margin-top: 0;
    padding-right: 10px;
    color: black;
  }
  
  .card-link1 {
    height: 20%;
  }
  .card-link2 {
    height: 30%;
  }
  .card-link3 {
    height: 20%;
  }

  .card-odd{
    height: 580px;
  }
  .card-even{
    height: 325px;
    width: 252px;
    
  }
  .trail{
    height: 535px; 
  }

  .header-content {
    background-color: #7dbbb9;
    text-align: center;
    border-radius: 50px;
    padding: 25px;
    box-shadow: 0 0 10px 4px;
    position: absolute;
    top: 4%;
    left: 4%;
  }
}
